<div layout="column" ng-hide="$ctrl.templateSrc === '/tpl.html'">
    <div flex>
        <md-toolbar flex="nogrow" md-colors="{background: 'grey-300'}">
            <div class="md-toolbar-tools" layout="column" layout-align="start center">
                <div layout="row" layout-align="start center" flex="100" class="full-width">
                    <md-button class="md-raised" aria-label="Edit" title="Edit" ng-click="$ctrl.doRevealTemplate()" ng-disabled="$ctrl.disableEdit">
                        <md-icon md-font-icon="material-icons">edit</md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
    </div>

    <div flex>
        <div class="disabled-data" ng-bind-html="$ctrl.data"></div>
    </div>
</div>