<npc-auth></npc-auth>

<section class="content-container" layout="column" flex ng-if="$ctrl.authService.isAuthed()">

    <md-toolbar flex="nogrow">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.toogleLeftMenu()">
                <md-icon md-font-icon="material-icons">menu</md-icon>
            </md-button>
            <h3>{{ $ctrl.$route.current.title }}</h3>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon md-font-icon="material-icons">settings</md-icon>
            </md-button>
            <md-button md-colors="{background: 'red'}" class="md-raised" ng-click="$ctrl.logout()">Logout</md-button>
        </div>
    </md-toolbar>

    <md-content class="md-padding" flex>

        <md-sidenav md-component-id="left" class="md-sidenav-left" md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <div class="md-toolbar-tools">
                    <h1>Menu</h1>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="$ctrl.toogleLeftMenu()">
                        <md-icon md-font-icon="material-icons">close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-list flex>
                <md-list-item class="md-1-line" ng-click="$ctrl.goTo('/config')">Web config</md-list-item>
                <md-list-item class="md-1-line" ng-click="$ctrl.goTo('/schema')">Web schema</md-list-item>
                <md-list-item class="md-1-line" ng-click="$ctrl.goTo('/content')">Web content</md-list-item>
            </md-list>
        </md-sidenav>

        <div ng-view></div>

    </md-content>

</section>