status:<br> {{ $ctrl.status }}<br> metadata:
<br>
<!--{{ $ctrl.data }}<br>-->
<!--{{ $ctrl.data['_metadata']['structure'] }}<br> data:-->
<br> {{ $ctrl.data[$ctrl.camelCase($ctrl.file)] }}<br>
<md-button class="md-raised" ng-click="$ctrl.getJson()">get JSON</md-button>
<!--<button ng-click="$ctrl.getJson()">get JSON</button>-->
<!--<button ng-click="$ctrl.postJson()">post JSON</button>-->

<br>
<div ng-model="$ctrl.data">
  <div ng-repeat="(key, value) in $ctrl.data[$ctrl.camelCase($ctrl.file)]">
    <h2>{{ $ctrl.data['_metadata']['schemes'][key]['name'] }}</h2>
    <npc-schema web-schema="value" schema-config="$ctrl.data['_metadata']"></npc-schema>
  </div>
</div>