// global styles
admin-app {
    background: inherit;
}

// border color same as in UIkit
$ca-border-color: #e5e5e5;

// ca-editor styles
ca-editor {
    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    td {
        border: 1px solid $ca-border-color;
    }

    [contenteditable] {
        ul {
            li {
                list-style: square;
            }
        }
    }
}
