<!-- galleries -->
<p uk-margin *ngIf="!selectedGallery">
    <button class="uk-button uk-button-default" (click)="createGallery()">New Gallery</button>
</p>

<div class="uk-flex uk-flex-center" *ngIf="galleriesLoading && !selectedGallery">
    <div uk-spinner></div>
</div>

<table class="uk-table uk-table-small uk-table-striped uk-table-hover" *ngIf="galleries.length && !galleriesLoading && !selectedGallery">
    <tbody>
        <tr *ngFor="let gallery of galleries">
            <td class="uk-table-expand" (click)="selectGallery(gallery.name)">{{ gallery.name }}</td>
            <td class="uk-table-shrink">
                <ul class="uk-iconnav uk-align-right">
                    <li>
                        <!-- TODO... download -->
                        <a (click)="deleteGallery(gallery.name)" uk-icon="icon: trash" title="Delete"></a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<!-- TODO... paging -->

<!-- gallery - images -->
<p uk-margin *ngIf="selectedGallery">
    <button class="uk-button uk-button-default" (click)="selectedGallery = null">
        <span uk-icon="icon: chevron-left"></span>
    </button>
</p>

<ca-upload [config]="uploadConfig" (complete)="uploadComplete()" *ngIf="selectedGallery"></ca-upload>

<ul class="uk-breadcrumb" *ngIf="selectedGallery">
    <li>
        <a (click)="selectedGallery = null">GALLERIES</a>
    </li>
    <li>
        <span>{{ selectedGallery }}</span>
    </li>
</ul>

<div class="uk-flex uk-flex-center" *ngIf="galleryImagesLoading && selectedGallery">
    <div uk-spinner></div>
</div>

<table class="uk-table uk-table-small uk-table-striped uk-table-hover" *ngIf="galleryImages.length && !galleryImagesLoading && selectedGallery">
    <tbody>
        <tr *ngFor="let galleryImage of galleryImages">
            <td class="uk-table-expand">{{ galleryImage.name }}</td>
            <td class="uk-table-shrink">
                <ul class="uk-iconnav uk-align-right">
                    <li>
                        <!-- TODO... download -->
                        <a (click)="deleteGalleryImage(selectedGallery, galleryImage.name)" uk-icon="icon: trash" title="Delete"></a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>

<!-- TODO... paging -->