<div class="uk-section-default uk-light">
    <div class="uk-background-norepeat uk-background-cover uk-section uk-section-xlarge" style="background-image: url('_source/media/shared/home_background.jpg');">
        <div class="uk-container uk-margin-large-top uk-margin-large-bottom">
            <div uk-grid>
                <div>
                    <h1 class="uk-width-large@m uk-heading-divider">Hi, <br>I'm Ivan Rozhon</h1>
                    <span class="uk-text-uppercase">web developer</span>
                </div>
            </div>
        </div>
    </div>
</div>