<div #caContentModal class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog">

        <button class="uk-modal-close-outside" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Page content</h2>
        </div>

        <div class="uk-modal-body" uk-overflow-auto>

            <!-- {{ content?._metadata?.common?.available | json }} -->

            <!-- {{ content.data | json }} -->

            <!-- Common -->
            <span class="uk-text-lead">Common</span>
            <div *ngFor="let commonItem of content?.data?.common"></div>

            <div class="uk-clearfix uk-margin">
                <button class="uk-button uk-button-default" type="button">Add</button>
                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li *ngFor="let commonAvailable of content?._metadata?.common?.available | caMapToIterable">
                            <a>{{ content?._metadata[commonAvailable | caPickItem:'key']?.label }}</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Generic -->
            <span class="uk-text-lead">Generic</span>
            <div *ngFor="let genericItem of content?.data?.generic"></div>

            <div class="uk-clearfix uk-margin">
                <button class="uk-button uk-button-default" type="button">Add</button>
                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li *ngFor="let genericAvailable of content?._metadata?.generic?.available | caMapToIterable">
                            <a>{{ content?._metadata[genericAvailable | caPickItem:'key']?.label }}</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button">Save</button>
        </div>

    </div>
</div>