<span [ngSwitch]="inputData[inputKey]?.type">
    <div *ngSwitchCase="'string'" class="uk-inline uk-margin-small-right">
        <label>{{ inputData[inputKey]?.label }}</label>
        <input class="uk-input" type="text" [(ngModel)]="inputValue">
    </div>

    <div *ngSwitchCase="'list'" class="uk-inline uk-margin-small-right">
        <label>{{ inputData[inputKey]?.label }}</label>
        <select class="uk-select" [(ngModel)]="inputValue">
            <option *ngFor="let option of inputData[inputKey]?.select" [value]="option.key">{{ option.value }}</option>
        </select>
    </div>

    <div *ngSwitchCase="'boolean'" class="uk-inline uk-margin-small-right">
        <label>
            <input class="uk-checkbox" type="checkbox" [(ngModel)]="inputValue"> {{ inputData[inputKey]?.label }}</label>
    </div>

    <div *ngSwitchCase="'container'" class="uk-inline">
        <ca-board-pages-input *ngFor="let input of inputValue | caMapToIterable; let index = index" [inputKey]="input | caPickItem:'key'"
            [inputValue]="input | caPickItem:'value'" (inputValueChange)="updateInput(index, $event)" [inputData]="inputData"></ca-board-pages-input>
    </div>
</span>