// @import "~bootstrap/dist/css/bootstrap";
@import "~bootstrap/scss/bootstrap";

.navbar {
    /* customize navbar-toogler (burger-menu) */
    .navbar-toggler {
        cursor: pointer;
        i {
            font-size: 1.5rem;
            color: rgba(0, 0, 0, 0.498039);
            visibility: hidden;
        }
        &[aria-expanded="true"] {
            .navbar-toggler-icon {
                background: transparent;
                > i {
                    visibility: visible;
                }
            }
        }
    }

    /* navbar sub dropdown */
    .dropdown-sub::after {
        display: inline-block;
        content: " ";
        width: 0;
        height: 0;
        margin-left: .3em;
        vertical-align: middle;
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-left: .3em solid transparent;
    }
    .dropdown-sub-menu {
        position: absolute;
        left: 100%;
        z-index: 1000;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        margin: -2rem -1rem;
        font-size: 1rem;
        color: #292b2c;
        text-align: left;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
    }
    .dropdown-sub:hover + .dropdown-sub-menu,
    .dropdown-sub-menu:hover {
        display: block;
        visibility: visible;
        opacity: 1;
    }
    @media (max-width: 991px) {
        .dropdown-sub-md {
            + .dropdown-sub-menu {
                left: 0;
                margin: 1rem;
            }
        }
    }
}

/* article element (tag) is justified text in npc-editor (trix-editor) */
article {
    text-align: justify;
}