<!--<div class="trix-toolbar">
<button ng-click="$ctrl.underline()">u</button>
</div>-->

<div id="trix-toolbar" class="toolbar">
  <button type="button" data-format="bold">Bold</button>
  <button type="button" data-format="italic">Italic</button>
  <button type="button" data-format="strike">Strike</button>
  <button type="button" data-format="quote">Quote</button>
  <button type="button" data-format="code">Code</button>
  <button type="button" data-format="bullet">Unordered List</button>
  <button type="button" data-format="number">Ordered List</button>
  <button type="button" data-format="outdent">Outdent</button>
  <button type="button" data-format="indent">Indent</button>
</div>

<trix-editor toolbar="trix-toolbar" angular-trix ng-model="$ctrl.trix"
    trix-initialize="$ctrl.trixInitialize(e, editor)"
    trix-change="$ctrl.trixChange(e, editor)"
    trix-selection-change="$ctrl.trixSelectionChange(e, editor)"></trix-editor>

{{ $ctrl.trix }}