<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 ng-class="$ctrl.name ? '' : 'text-italic'">{{ $ctrl.name ? $ctrl.name : 'Data' }}</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Save" ng-click="$ctrl.doSaveData()">
            <md-icon md-font-icon="material-icons">save</md-icon>
            <md-tooltip>Save</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="Reload" ng-click="$ctrl.doLoadData()">
            <md-icon md-font-icon="material-icons">refresh</md-icon>
            <md-tooltip>Reload</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="Close dialog" ng-click="$ctrl.closeDialog()">
            <md-icon md-font-icon="material-icons">clear</md-icon>
            <md-tooltip>Close</md-tooltip>
        </md-button>
    </div>
</md-toolbar>

<md-dialog-content>
    <div class="md-dialog-content">
        <div layout="column" ng-repeat="(key, value) in $ctrl.data" ng-switch="$ctrl.config[key].type">

            <!-- Array/Generic -->
            <h4 ng-if="$ctrl.config[key].type === 'array' || $ctrl.config[key].type === 'generic' || $ctrl.config[key].type === 'common'">{{ $ctrl.config[key].label }}</h4>

            <!-- Array/Generic -->
            <npc-data-input ng-switch-when="array|generic|common" ng-switch-when-separator="|" ng-repeat="(subKey, subValue) in value"
                layout-wrap
                layout="row"
                index="$index"
                last-index="$last"
                key="key"
                data="subValue"
                common-data="value"
                config="$ctrl.config"
                add-item="$ctrl.addDataItem(key, index)"
                delete-item="$ctrl.deleteDataItem(key, index)"
                move-item="$ctrl.moveDataItem(direction, key, index)"
                add-generic="$ctrl.addGeneric(container, item, index)"></npc-data-input>

            <!-- Array -->
            <div flex="100" ng-if="$ctrl.config[key].type === 'array' && !value.length">
                <md-button class="md-icon-button" aria-label="Add group" ng-click="$ctrl.addGroup(key)">
                    <md-icon md-font-icon="material-icons">library_add</md-icon>
                    <md-tooltip>Add {{ $ctrl.config[key].label }}</md-tooltip>
                </md-button>
            </div>

            <!-- Generic | Common -->
            <div flex="100" ng-if="($ctrl.config[key].type === 'generic' && !value.length) || ($ctrl.config[key].type === 'common' && !value.length)">
                <md-menu>
                    <md-button class="md-icon-button" aria-label="Add generic" ng-click="$ctrl.openGenericMenu($mdMenu, $event)">
                        <md-icon md-font-icon="material-icons">library_add</md-icon>
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item ng-repeat="(subKey, subValue) in $ctrl.config[key].aviable">
                            <md-button ng-click="$ctrl.addGeneric(key, subKey)">
                                {{ $ctrl.config[subKey].label }}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>

            <!-- Input -->
            <npc-data-input-model ng-switch-default
                input-data="$ctrl.config[key]"
                input-model="$ctrl.data[key]"></npc-data-input-model>

        </div>
    </div>
</md-dialog-content>